body {
  background-color: #000000 !important;
}

.card {
  padding: 2em;
}

.card-header.results {
  background-color: #000000;
  color: #ffffff;
}

.graphqlai-blue {
  color: #0d6efd;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
